* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LANDING PAGE STYLES */

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #FAF6F1;
}

.landing-content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.landing-header {
  color: #1F2C4C;
  font-size: 96px;
  margin: 10% 0 3% 10%;
  width: 100%;
}

.cta-button {
  width: 300px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  background-color: #FFC05F;
  color: white;
  margin-left: 10%;
}

.cta-button:hover {
  background-color: #FFAA28;
}

.bottom-nav {
  position: absolute;
  left: 180px;
  bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 200px;
  
}

.bottom-nav a {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1F2C4C;
  text-decoration: none;
  cursor: pointer;
  padding-right: 40px;
}

.button:hover {
  transform: scale(1.02);
}

.eiffel-img {
  position: absolute;
  right: 20px;
  margin-top: 2%;
  height: 96vh;
}

/* QUESTIONS FORM COMPONENT STYLES */

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #FAF6F1;
}

.form-number-header {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.13);
  position: absolute;
  right: 30px;
  top: 0;
}

.budget-form-img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.questions-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #FAF6F1;
  margin: -10% 0 0 0;
}

.next-button {
  position: absolute;
  font-size: 1.4rem;
  right: 30px;
  bottom: 30px;
  background-color: #1F2C4C;
  color: white;
  width: 150px;
  height: 75px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
}

.next-button:hover {
  transform: scale(1.02);
  background-color: #0b1e4d;
}

.input-header {
  color: #1F2C4C;
  font-size: 48px;
  margin-bottom: 0;
}

input {
  margin-top: 1%;
  width: 30%;
  height: 75px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1.8rem;
  text-align: center;
}

input:focus {
  outline: none;
}

hr {
  width: 50%;
  height: 20px;
  background-color: #FFC05F;
  border: none;
  border-radius: 20px;
}

span {
  color: #FFC05F;
}